.speech-bubble {
    background: #002A56;
    border-radius: 0.4em;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-right-color: #002A56;
        border-left: 0;
        border-top: 0;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }
}

.announcement-description {
    text-indent: 0.5cm;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.links {
    color: var(--link-color-orange);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
