footer {
    background-color: #002A56;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 1em;

    div {
        padding: 1em;
    }

    .left {
        .static-links {
            li {
                a {
                    color: var(--link-color-orange);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .right {
        .social-links {
            a {
                color: initial;

                &:hover {
                    color: var(--link-color-orange);
                }
            }
        }

        .affiliates {
            .affiliates-text {
                font-size: 1.5rem;
                border-bottom: 2px solid var(--link-color-orange);
            }

            .affliate-logos {
                width: 125px;
                height: 45px;
                background-position: bottom;
                content: url("../../../images/logo_blank_temp.png");

                &:hover {
                    background-position: top;
                }
            }

            #logo-focal-systems {
                background-image: url("../../../images/logo_focal_systems.png");
            }

            #logo-persistiq {
                background-image: url("../../../images/logo_persistiq.png");
            }

            #logo-plateiq {
                background-image: url("../../../images/logo_plateiq.png");
            }

            #logo-smart-alto {
                background-image: url("../../../images/logo_smart_alto.png");
            }
        }
    }
}
