footer {
    background-color: #002A56;

    .left {
        .static-links {
            li {
                a {
                    color: var(--link-color-orange);
                }
            }
        }
    }

    .right {
        grid-template-rows: minmax(20px, 100px) minmax(20px, 100px) 1fr;

        .social-links {
            grid-template-columns: repeat(3, minmax(0, 50px));

            a {
                color: initial;

                &:hover {
                    color: var(--link-color-orange);
                }
            }
        }

        .affiliates {
            grid-template-rows: minmax(20px, 60px) 1fr;

            .affiliates-text {
                font-size: 1.5rem;
                border-bottom: 2px solid var(--link-color-orange);
            }

            .affliate-logos {
                width: 125px;
                height: 45px;
                background-position: bottom;
                content: url("../../../images/logo_blank_temp.png");

                &:hover {
                    background-position: top;
                }
            }

            #logo-focal-systems {
                background-image: url("../../../images/logo_focal_systems.png");
            }

            #logo-persistiq {
                background-image: url("../../../images/logo_persistiq.png");
            }

            #logo-plateiq {
                background-image: url("../../../images/logo_plateiq.png");
            }

            #logo-smart-alto {
                background-image: url("../../../images/logo_smart_alto.png");
            }
        }
    }
}
