.testimonials {
    .carousel-indicators {
        background-color: #002A56;
        border-radius: 12px;
    }

    .carousel-inner {
        .carousel-item {
            height: 360px;

            .carousel-caption {
                color: #002A56;
            }
        }
    }

    .carousel-nav {
        color: #002A56;
    }
}

@media (width <= 768px) {
    .carousel-inner {
        .carousel-item {
            .carousel-caption {
                height: 100%;
            }
        }
    }
}
