.testimonials {
    .carousel-indicators {
        background-color: #002A56;
        border-radius: 12px;
    }

    .carousel-inner {
        .carousel-item {
            height: 320px;

            .carousel-caption {
                color: #002A56;
            }
        }
    }

    .carousel-nav {
        color: #002A56;
    }
}
