@tailwind base;
@tailwind components;
@tailwind utilities;

/* Laravel Jetstream-specific custom styles */
[x-cloak] {
    display: none;
}

/* Define custom CSS here that will be extended by Tailwind */
/* Examples below */
@layer utilities {
    .content-blank {
        content: '';
    }

    .max-h-25-vh {
        max-height: 25vh;
    }
    .max-h-50-vh {
        max-height: 50vh;
    }
    .max-h-75-vh {
        max-height: 75vh;
    }

    .h-25-vh {
        height: 25vh;
    }
    .h-50-vh {
        height: 50vh;
    }
    .h-75-vh {
        height: 75vh;
    }

    .w-25-vw {
        width: 25vw;
    }
    .w-50-vw {
        width: 50vw;
    }
    .w-75-vw {
        width: 75vw;
    }

    .border-12 {
        border-width: 12px;
    }

    .border-24 {
        border-width: 24px;
    }

    /* MORE SPECIFIC CLASS NAMES COMPARED TO RULES ABOVE */
    .speech-bubble {
        @apply rounded-2xl;
        @apply relative;

        &:after {
            @apply content-blank;
            @apply absolute;
            @apply left-1;
            @apply top-3/4;
            @apply w-0;
            @apply h-0;
            @apply border;
            @apply border-r-gray-300;
            @apply border-24;
            @apply border-solid;
            @apply border-y-transparent;
            @apply border-l-transparent;
            @apply border-l-0;
            @apply border-t-0;
            @apply -mt-6;
            @apply -ml-6;
        }
    }

    @media (width <= 768px) {
        .speech-bubble {
            &:after {
                @apply -mt-0;
                @apply -ml-0;
                @apply border-transparent;
            }
        }
    }

    .truncate-text-with-dots {
        @apply whitespace-nowrap;
        @apply text-ellipsis;
        @apply overflow-hidden;

        @supports (-webkit-line-clamp: 3) {
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('../../public/fonts/Avenir-Regular.ttf') format('truetype'),
            url('../../public/fonts/Poppins-Black.ttf') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir Black';
        src:
            url('../../public/fonts/Avenir-Black.ttf') format('truetype'),
            url('../../public/fonts/Poppins-Black.ttf') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src:
            url('../../public/fonts/Poppins-Regular.ttf') format('truetype'),
            url('../../public/fonts/Avenir-Black.ttf') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins Black';
        src:
            url('../../public/fonts/Poppins-Black.ttf') format('truetype'),
            url('../../public/fonts/Avenir-Black.ttf') format('truetype');
        font-display: swap;
    }

    .pricing-card-platinum {
        filter: drop-shadow(3px 0px 9px #FA8937);
        animation: animated-brightness 2.5s infinite;
        -webkit-animation: animated-brightness 2.5s infinite;
    }

    @keyframes animated-brightness {
        0%, 100% {
            -webkit-filter: brightness(1) drop-shadow(3px 0px 9px #FA8937);
        }
        25% {
            -webkit-filter: brightness(0.8) drop-shadow(0px 5px 15px #FA8937);
        }
    }

    @-webkit-keyframes animated-brightness {
        0%, 100% {
            -webkit-filter: brightness(1) drop-shadow(3px 0px 9px #FA8937);
        }
        25% {
            -webkit-filter: brightness(0.8) drop-shadow(0px 5px 15px #FA8937);
        }
    }

    .bg-gradient-yellow {
        background-image: linear-gradient(120deg, #ffbc00, #ffbc00, #ffbc00, #ffbc00, #ff9cb6, #c3a7f9, #ffbc00, #74cae8, #a7dd8c, #ffbc00, #ffbc00, #ffbc00, #ffbc00, #ffbc00);
    }

    .animate-shimmering-gradient {
        animation: shimmering-gradient 5.5s linear infinite;
    }

    @keyframes shimmering-gradient {
        0% {
            background-position: 0 0;
        }
        15% {
            background-position: 33% 0;
        }
        90% {
            background-position: 80% 0;
        }
        to {
            background-position: 100% 0;
        }
    }

    /* REF: https://codepen.io/chalarangelo/pen/KKOpeae */
    .privacy-policy-important {
        &:after {
            @apply absolute;
            @apply w-full;
            @apply bottom-0;
            @apply left-0;
            @apply h-1;
            @apply bg-orange-400;
            @apply dark:bg-orange-200;
            content: '';
            transform: scaleX(1);
            animation: underline-from-right 1.5s 1;
            animation-delay: 0.75s;
        }
    }

    @keyframes underline-from-right {
        0% {
            transform: scaleX(0);
            transform-origin: bottom right;
        }
        100% {
            transform: scaleX(1);
            transform-origin: bottom right;
        }
    }
}
