.our-services {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;

    .services {
        grid-template-rows: fit-content(50%) minmax(auto, 100px) minmax(auto, auto);
        justify-items: center;

        .round-container {
            padding-block: 4em;
            border: 2px solid #BBB;
            border-radius: 50%;
            transition: background-color 0.4s;
            width: 75%;

            .icon {
                color: var(--link-color-orange);
                font-size: 2.5rem;
            }

            &:hover {
                background-color: lightblue;
            }
        }

        .services-title {
            margin-top: 1em;
            min-height: 10vh;
        }
    }
}

/* Fade in/out on scroll when in view */
.hidden-fade-on-show {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 2s;
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (width <= 575px) {
    .our-services {
        grid-template-columns: 1fr;

        .services {
            .round-container {
                width: 50%;
            }

            .services-title {
                min-height: auto;
            }
        }
    }
}

@media (576px <= width <= 992px) {
    .our-services {
        grid-template-columns: 1fr 1fr;
    }
}
