/*
https://paletton.com/#uid=33A0u0k++slSHkAXNeSSL++++BD
Monochromatic (tick add complementary)
BASE RGB: 004893; // dark blue
BASE RGB: E28700; // orange

/*

/* Profile image (User model field) */
	.avatar-table {
		width: 24px;
		height: 24px;
	}

	.avatar-thumbnail-extrasmall {
		width: 48px;
		height: 48px;
	}

	.avatar-thumbnail-small {
		width: 120px;
		height: 120px;
	}

	.avatar-thumbnail-medium {
		width: 240px;
		height: 240px;
	}

	.avatar-thumbnail-large {
		width: 360px;
		height: 360px;
	}

/* Delete buttons (Announcement, Employee) */
	.delete-announcement-button, .delete-announcement-button:hover, .delete-employee-button, .delete-employee-button:hover {
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
	}

	.delete-announcement-button, .delete-employee-button {
		color: #FF9900;
	}

	.delete-announcement-button:hover, .delete-employee-button:hover {
		color: #FF9900;
		text-decoration: underline;
	}

/* Admin Panel */
	.admin-panel-card {
		border-top-left-radius: 24px;
		border-bottom-right-radius: 24px;
	}

	.admin-panel-card-header {
		border-top-left-radius: 24px;
	}

	.admin-panel-card-body-nav {
		border-bottom-right-radius: 24px;
		background-color: #005EBF;
	}

	.admin-panel-card-body-nav ul li.active {
		background-color: #002A56;
		padding: 8px 4px; /* top and bottom = 8px; right and left = 4px; */
		transition: background-color 0.4s;
	}

	.admin-panel-card-body-nav ul li.active:hover, .admin-panel-card-body-nav ul li:hover {
		background-color: #057EFB;
	}

	.admin-panel-card-body-nav ul li.active a:hover, .admin-panel-card-body-nav ul li a:hover {
		text-decoration: none;
	}

	#admin-panel-hr-separator {
		background-color: #002A56;
	}

/* Footer */
	footer {
		background-color: #057EFB;
		border-radius: 24px;
		margin-top: 12px;
	}

	footer div {
		padding: 12px;
	}

	.socials {
		width: 35px;
		height: 34px;
		background-position: bottom;
		content: url("../../images/social_blank_temp.png");
	}

	.socials:hover, .affliate-logos:hover {
		background-position: top;
	}

	#fb {
		background-image: url("../../images/social_facebook.png");
	}

	#twitter {
		background-image: url("../../images/social_twitter.png");
	}

	#affliates-text {
		border-bottom: 2px solid #FF9900;
	}

	.affliate-logos {
		width: 125px;
		height: 45px;
		background-position: bottom;
		content: url("../../images/logo_blank_temp.png");
	}

	#logo-focal-systems {
		background-image: url("../../images/logo_focal_systems.png");
	}

	#logo-persistiq {
		background-image: url("../../images/logo_persistiq.png");
	}

	#logo-plateiq {
		background-image: url("../../images/logo_plateiq.png");
	}

	#logo-smart-alto {
		background-image: url("../../images/logo_smart_alto.png");
	}

/* Tables */
	table th {
		background-color: #005EBF;
	}

	table tr {
		background-color: #057EFB;
	}

/* Navigations */
	.breadcrumb {
		background-color: #005EBF;
	}

/* Header */
	#cos_header {
		width: 100%;
	}

	#header-navbar-left, #header-navbar-right {
		background-color: #005EBF;
	}

	#header-navbar-left a:hover, #header-navbar-right a:hover {
		background-color: #057EFB;
	}

/* Links */
	a:link, a:visited {
		color: #FF9900;
	}

/* Static Pages (About Us, Careers, Privacy Policy, Terms and Conditions) */
	.header-static-page-title {
		border-bottom: 4px solid #005EBF;
		text-transform: uppercase;
	}

	.static-page h3 {
		color: #FF9900;
	}

/* Announcements */
	#announcement-pagination-list li a {
		background-color: #FF9900;
		color: white;
		transition: background-color 0.4s;
	}

	#announcement-pagination-list li a:hover {
		background-color: #B56C00;
	}

	#announcement-pane-description {
		text-indent: 2cm;
	}

	.speech-bubble {
		position: relative;
		background: #057EFB;
		border-radius: .4em;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 25px solid transparent;
		border-right-color: #057EFB;
		border-left: 0;
		border-top: 0;
		margin-top: -25px;
		margin-left: -25px;
	}

/* Dashboard */
	#clock-in-form, #clock-out-form {
		background-color: #EFAC6B;
	}
